.error{
    text-transform: none !important;
    font-size: 12px !important;
    color: red !important;
}

.implementedChart {
    stroke: green;
    stroke-width: 4px;
    fill: hsl(120, 100%, 25%);
}

.notImplementedChart {
    stroke: orange;
    stroke-width: 4px;
    fill: hsl(39, 100%, 50%);
}

.pastTheDeadlineChart {
    stroke: red;
    stroke-width: 4px;
    fill: hsl(0, 100%, 50%);
}

.ct-series-a .ct-bar {
  stroke: green;
}

.ct-series-b .ct-bar {
  stroke: orange;
}

.ct-series-c .ct-bar {
  stroke: red;
}

div.dataTables_wrapper div.dataTables_filter label{
    padding-right: 16px;
}

div.dataTables_wrapper div.dataTables_length label{
    padding-left: 16px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span{
    margin-right: 16px;
}

div.dataTables_wrapper div.dataTables_info{
    margin-left: 16px;
}

.modal-backdrop {
  /*z-index: -2;*/
  visibility: hidden;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #2471d1;
    color: #fff;
}

.bootbox .modal-footer button {
  float:right;
  margin-left: 10px;
}

.footer .active a{
    color: #2471d1 !important;
}

textarea{
    resize: none;
}

.fc-event{
    cursor: pointer;
}

.rem-label{
    float: right;
    color: #2670d2;
    font-weight: bold;
}

.btn-table {
    border-radius: 0px;
}