@model ChangeManagementSystem.Models.ChangeManagementModels

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="header">
                    <h4 class="title">Change Management Document</h4>
                    <p class="category">Kindly fill-in the needed informations regarding the Change Document</p>
                </div>
                <div class="content">
                    <form method="post" id="newChangeDocumentForm">
                        @Html.AntiForgeryToken()
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label for="changeObjective" style="color: #333; font-size: 15px;">Objective</label>&nbsp;<small class="rem-label"><span class="remainingObjective"></span></small>
                                        @Html.TextAreaFor(c => c.ChangeObjective, new { @class = "form-control form-control-sm", id = "changeObjective" })
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group" style="padding:5px;text-align:center;">
                                        <fieldset class="fieldset">
                                            <legend class="text-left" style="border: none; display:block; width:100%; font-size: 0px;"><label style="margin-bottom: 8px;text-align: left; color: #333; font-size: 15px;">Type</label></legend>
                                            <label class="radio-inline" style="text-align: center;"><input type="radio" name="ChangeType" id="correctivePatchRadio">Corrective Patch</label>
                                            <label class="radio-inline" style="text-align: center;"><input type="radio" name="ChangeType" id="newFunctionRadio">New Function</label>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>

                            <hr style="border-bottom: 1px solid black;" />

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="changeRequirements" style="color: #333; font-size: 15px;">Management Requirement</label>&nbsp;<small class="rem-label"><span class="remainingRequirements"></span></small>
                                        @Html.TextAreaFor(c => c.ChangeRequirements, new { @class = "form-control form-control-sm", id = "changeRequirements" })
                                    </div>
                                </div>
                            </div>

                            <hr style="border-bottom: 1px solid black;"/>

                            <label style="color: #333; font-size: 15px;">Affected Areas</label>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="affectedAreasApp">Application(s)</label>
                                        <input type="text" class="form-control form-control-sm" id="affectedAreasApp" name="affectedAreasApp">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="affectedAreasDb">Database & Table(s)</label>
                                        <input type="text" class="form-control form-control-sm" id="affectedAreasDb" name="affectedAreasDb">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="affectedAreasServer">Server(s)/ IP(s)</label>
                                        <input type="text" class="form-control form-control-sm" id="affectedAreasServer" name="affectedAreasServer">
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-fill btn-primary btn-sm pull-right" id="insertAffectedArea" style="width:100%;margin-bottom:10px;">Add to the list</button>
                                </div>
                                <div class="col-md-3 text-right">
                                    <button type="button" class="btn btn-fill btn-danger btn-sm pull-left" id="undoAffectedArea" style="width:100%">Undo</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped text-center" id="affectedAreasTable">
                                            <thead class="text-center">
                                                <tr>
                                                    <th class="text-center">Application</th>
                                                    <th class="text-center">Database</th>
                                                    <th class="text-center">Server</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr style="border-bottom: 1px solid black;" />
                            <div class="row">
                                <div class="col-md-6" style="margin-bottom: 25px;">
                                    <div class="form-group" style="padding:5px;text-align:center;">
                                        <fieldset class="fieldset">
                                            <legend class="text-left" style="border: none; display:block; width:100%; font-size: 0px;"><label style="margin-bottom: 8px;text-align: left; color: #333; font-size: 15px;">Request Evaluation</label></legend>

                                            <label class="radio-inline" style="text-align: center;"><input type="radio" name="evaluationRadio" id="highRadio">High</label>
                                            <label class="radio-inline" style="text-align: center;"><input type="radio" name="evaluationRadio" id="mediumRadio">Medium</label>
                                            <label class="radio-inline" style="text-align: center;"><input type="radio" name="evaluationRadio" id="lowRadio">Low</label>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="affectedAreasApp" style="color: #333; font-size: 15px;">Target Implementation Date and Time</label>
                                        @Html.TextBoxFor(c => c.TargetImplementation, new { @class = "form-control form-control-sm", id = "targetImplementation", type = "datetime-local" })
                                    </div>
                                </div>
                            </div>
                            <hr style="border-bottom: 1px solid black;" />
                            <label style="color: #333; font-size: 15px;">Change Management Sign-off</label>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="signOffName">Printed Name</label>
                                        <input type="text" class="form-control form-control-sm" id="signOffName" name="signOffName">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-fill btn-primary btn-sm pull-right" id="insertSignOff" style="width:100%;margin-bottom:10px;">Add to the list</button>
                                </div>
                                <div class="col-md-3 text-right">
                                    <button type="button" class="btn btn-fill btn-danger btn-sm pull-left" id="undoSignOff" style="width:100%">Undo</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped text-center" id="signOffTable">
                                            <thead class="text-center">
                                                <tr>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Role</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr style="border-bottom: 1px solid black;" />

                            <div class="row">
                                <div class="col text-right">
                                    <button type="button" class="btn btn-fill btn-success" id="btnSave">Add New Change Document</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>