@model ChangeManagementSystem.Models.ChangeManagementModels

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-6">
            <div class="card ">
                <div class="header">
                    <h4 class="title" id="cmdCountLabel" style="font-size: 40px; color: red;"></h4>
                </div>
                <div class="content">
                    <div class="footer">
                        <hr>
                        <div class="stats" style="color: #2471d1; font-family: 'Century Gothic'; text-transform: uppercase; font-size: 17px;">
                            Change Management Document
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card ">
                <div class="header">
                    <h4 class="title" id="implementedCmdCountLabel" style="font-size: 40px; color: green;"></h4>
                </div>
                <div class="content">
                    <div class="footer">
                        <hr>
                        <div class="stats" style="color: #2471d1; font-family: 'Century Gothic'; text-transform: uppercase; font-size: 17px;">
                            Implemented
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card" style="min-height: 370px; margin-bottom: 0px;">
                <div class="header">
                    <h4 class="title">Incoming Change Implementation</h4>
                </div>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped text-center" id="latestCmdTable">
                                        <thead class="text-center">
                                            <tr>
                                                <th class="text-center">Requestor</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">Evaluation</th>
                                                <th class="text-center">Target Date</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>