@model ChangeManagementSystem.Models.ChangeManagementModels

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-6">
            <div class="card ">
                <div class="header">
                    <h4 class="title" id="cmdCountLabel" style="font-size: 40px; color: red;"></h4>
                </div>
                <div class="content">
                    <div class="footer">
                        <hr>
                        <div class="stats" style="color: #2471d1; font-family: 'Century Gothic'; text-transform: uppercase; font-size: 17px;">
                            Change Management Document
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card ">
                <div class="header">
                    <h4 class="title" id="implementedCmdCountLabel" style="font-size: 40px; color: green;"></h4>
                </div>
                <div class="content">
                    <div class="footer">
                        <hr>
                        <div class="stats" style="color: #2471d1; font-family: 'Century Gothic'; text-transform: uppercase; font-size: 17px;">
                            Implemented
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card" style="min-height: 370px; margin-bottom: 0px;">
                <div class="header">
                    <h4 class="title">Incoming Change Implementation</h4>
                </div>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped text-center" id="latestCmdTable">
                                        <thead class="text-center">
                                            <tr>
                                                <th class="text-center">Requestor</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">Evaluation</th>
                                                <th class="text-center">Target Date</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
    $(document).ready(function () {
        setInterval(getCmdCount, 1000);

        setInterval(getImplementedCmdCount, 1000);
    });

    function getCmdCount() {
        $.ajax({
            url: "/Cmd/GetCmdCount",
            type: "GET",
            success: function (data) {
                var jsonStringified = JSON.stringify(data);
                var countDetails = JSON.parse(jsonStringified);

                $("#cmdCountLabel").html("<i class='pe-7s-copy-file'></i>&nbsp;&nbsp;" + countDetails);
            },
            error: function (data) {
                alert("error");
            }
        });
    }

    function getImplementedCmdCount() {
        $.ajax({
            url: "/Cmd/GetImplementedCmdCount",
            type: "GET",
            success: function (data) {
                var jsonStringified = JSON.stringify(data);
                var implementedCountDetails = JSON.parse(jsonStringified);

                $("#implementedCmdCountLabel").html("<i class='pe-7s-like2'></i>&nbsp;&nbsp;" + implementedCountDetails);
            },
            error: function (data) {
                alert("Error!");
            }
        });
    }
</script>
}