@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col">
                    <div class="card ">
                        <div class="header">
                            <h4 class="title"><i class="pe-7s-portfolio" style="font-size: 50px;"></i>&nbsp;&nbsp;<span id="cmdCountAllTime" style="font-size: 60px;">5</span></h4>
                        </div>
                        <div class="content">
                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    Change Management Document
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="header">
                            <h4 class="title"><span id="cmdCountAllTime" style="font-size: 20px;">5</span></h4>
                        </div>
                        <div class="content">
                            <div class="footer">
                                <hr>
                                <div class="stats" style="font-size: 11px;">
                                    This Day
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="header">
                            <h4 class="title"><span id="cmdCountAllTime" style="font-size: 20px;">5</span></h4>
                        </div>
                        <div class="content">
                            <div class="footer">
                                <hr>
                                <div class="stats" style="font-size: 11px;">
                                    This Week
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="header">
                            <h4 class="title"><span id="cmdCountAllTime" style="font-size: 20px;">5</span></h4>
                        </div>
                        <div class="content">
                            <div class="footer">
                                <hr>
                                <div class="stats" style="font-size: 11px;">
                                    This Month
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Tasks</h4>
                    <p class="category">Backend development</p>
                </div>
                <div class="content">
                    <div class="table-full-width">
                        <table class="table" id="latestCmdTable">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 3 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="header">
                    <h4 class="title">2014 Sales</h4>
                    <p class="category">All products including Taxes</p>
                </div>
                <div class="content">
                    <div id="chartActivity" class="ct-chart"></div>
                    <div class="footer">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Tesla Model S
                            <i class="fa fa-circle text-danger"></i> BMW 5 Series
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-check"></i> Data information certified
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="header">
                    <h4 class="title">2014 Sales</h4>
                    <p class="category">All products including Taxes</p>
                </div>
                <div class="content">
                    <div id="chartActivity" class="ct-chart"></div>
                    <div class="footer">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Tesla Model S
                            <i class="fa fa-circle text-danger"></i> BMW 5 Series
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-check"></i> Data information certified
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>